body {
    margin: 0;
    font-family: 'courier';
    color: #fff;
    font-size: 24px;
    letter-spacing: 5px;
}
img {
    width: 70px;
    height: 70px;
}
#container {
    height: 70vh;
    width: 60vw;
    float: none;
    margin: 0 auto;
}
.jumbotron {
    background: #DE6262;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DE6262, #FFB88C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DE6262, #FFB88C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    s
}
.centered {
    text-align: center;
}
.jumbotron.vertical-center {
    margin-bottom: 0;
}
.vertical-center {
    min-height: 80%;
    min-height: 80vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Align the bootstrap's container vertically */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
